<a href="https://colab.research.google.com/github/FaisalAngaria/FaisalAngaria/blob/main/test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print ("1234 \n "* 10 )

1234
 1234
 1234
 1234
 1234
 1234
 1234
 1234
 1234
 1234

In [ ]:
name = "Jameel"
age = 25
city = "karachi"

print (f"my name is {name} my age is {age} i live in {city}")

my name is Jameel my age is 25 i live in karachi

In [3]:
a = int(input ("Enter number"))
b =int(input ("Enter number"))
x = a + b
print ("sum of value is" , x)

Enter number2
Enter number7
sum of value is 9